@import "leaflet/dist/leaflet.css";

.home-turist-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 5.1vh);
    background-color: #ffffff
}

.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border: .1rem solid #000;
}

.content-main {
    display: flex;
    flex-direction: row;

    border: .1rem solid #000;
}

.box-map {
    display: flex;
    flex-direction: row;
    height: 100%;  /* Asegure-se de definir uma altura para o mapa */
    width: 70%;
    border: .1rem solid #000;
}


.box-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    border: .1rem solid #000;
}

.camp-info {
    display: flex;
    flex-direction: column;
    min-height: 36.5vh; 
    width: 100%;
    border: .1rem solid #000;
}

.camp-reviews {
    display: flex;
    flex-direction: column;
    min-height: 50vh; 
    width: 100%;
    border: .1rem solid #000;
}